body{margin: 0;padding: 0;}
#block_menu{width: 100%;background: #000;margin-bottom: 10px;}
#menu{
	max-width: 1200px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#menu li{
	list-style: none;
}
#menu li a{
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #fff;
}